/* Body */

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Header */

#header {
    color: purple;
    text-align: center;
}

/* Section */

h2 {
    color: green;
    text-align: center;
}

/* Office */

.office {
    background-color: lightgreen;
}

/* Programming */

.programming {
    background-color: lightblue;
}

/* Other Skills */

.otherskills {
    background-color: pink;
}
